actionlib==1.11.13
angles==1.9.11
bondpy==1.7.20
camera_calibration==1.12.23
camera_calibration_parsers==1.11.13
catkin==0.6.19
catkin-pkg==0.5.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
conda==4.3.16
cv==1.0.0
cv_bridge==1.11.16
diagnostic_analysis==1.9.3
diagnostic_common_diagnostics==1.9.3
diagnostic_updater==1.9.3
distlib==0.3.6
distro==1.8.0
docutils==0.20
dynamic_reconfigure==1.5.50
filelock==3.10.5
gazebo_plugins==2.4.16
gazebo_ros==2.4.16
gencpp==0.5.5
genlisp==0.4.15
genmsg==0.5.8
genpy==0.5.10
gTTS==2.3.1
idna==3.4
image_geometry==1.11.16
interactive_markers==1.11.4
laser_geometry==1.6.4
message_filters==1.11.21
mpmath==1.3.0
nose==1.3.7
pip==23.1.2
pipenv==2023.3.20
platformdirs==3.2.0
playsound==1.3.0
pluginlib==1.10.7
py==1.11.0
PyAudio==0.2.11
pycosat==0.6.3
pydub==0.25.1
pygame==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python_qt_binding==0.2.19
pyttsx3==2.90
PyYAML==6.0
qt_create==0.2.9
qt_dotgraph==0.2.33
qt_gui==0.2.33
qt_gui_cpp==0.2.33
qt_gui_py_common==0.2.33
requests==2.28.2
resource_retriever==1.11.8
rosbag==1.11.21
rosboost_cfg==1.11.14
rosclean==1.11.14
roscreate==1.11.14
rosgraph==1.11.21
roslaunch==1.11.21
roslib==1.11.14
roslint==0.10.0
roslz4==1.11.21
rosmake==1.11.14
rosmaster==1.11.21
rosmsg==1.11.21
rosnode==1.11.21
rosparam==1.11.21
rospkg==1.5.0
rospy==1.11.21
rosservice==1.11.21
rostest==1.11.21
rostopic==1.11.21
rosunit==1.11.14
roswtf==1.11.21
rqt_action==0.4.9
rqt_bag==0.4.8
rqt_bag_plugins==0.4.8
rqt_console==0.4.8
rqt_dep==0.4.9
rqt_graph==0.4.8
rqt_gui==0.4.8
rqt_gui_py==0.4.8
rqt_image_view==0.4.9
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_moveit==0.5.7
rqt_msg==0.4.8
rqt_nav_view==0.5.7
rqt_plot==0.4.8
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.4.8
rqt_py_console==0.4.8
rqt_reconfigure==0.4.10
rqt_robot_dashboard==0.5.7
rqt_robot_monitor==0.5.7
rqt_robot_steering==0.5.9
rqt_runtime_monitor==0.5.7
rqt_rviz==0.5.10
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.10
rqt_web==0.4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
rviz==1.11.19
sensor_msgs==1.11.10
setuptools==67.6.0
six==1.16.0
smach==2.0.1
smach_ros==2.0.1
smclib==1.7.20
sympy==1.11.1
tf==1.11.9
tf_conversions==1.11.9
tf2_geometry_msgs==0.5.20
tf2_kdl==0.5.20
tf2_py==0.5.20
tf2_ros==0.5.20
tf2_sensor_msgs==0.5.20
tf_conversions==1.11.9
urllib3==1.26.15
virtualenv==20.21.0
virtualenv-clone==0.5.7
wheel==0.37.1
xacro==1.9.5