<?xml version="1.0" ?>
<launch>

    <!-- launch the op2_manager for the robotis op2 as the standard interface with the hardware -->
    <include file="$(find op2_manager)/launch/op2_manager.launch"/>    


    <!-- Run the action initialization node which is responsible to enabling the action module, this will make the robot respond for sent actions (page numbers) -->

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="10 gptest rostopic_init.launch"
    name="timed_roslaunch_rostopic_init" output="screen" />
    
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="10 gptest action_init.launch"
    name="timed_roslaunch_action_init" output="screen" />

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="25 gptest image_pub.launch"
    name="timed_roslaunch_image_pub" output="screen" />
</launch>
